<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.rs.procergs.android.appbase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="br.com.procergs.android.appbase.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="br.com.procergs.android.appbase.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.Item_1_Fragment"
            android:label="@string/title_item_1_fragment" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.Item_2_Fragment"
            android:label="@string/title_item_2_fragment" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.Item_3_Fragment"
            android:label="@string/title_item_3_fragment" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.Item_4_Fragment"
            android:label="@string/title_item_4_fragment" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.ExemploListaSimplesFragment"
            android:label="@string/title_lista_simples" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.AjudaFragment"
            android:label="@string/title_ajuda" >
        </activity>
        <activity
            android:name="br.com.procergs.android.appbase.SobreFragment"
            android:label="@string/title_sobre" >
        </activity>
    </application>

</manifest>
